<div class="container">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide" class="w-100">
    <div class="carousel-caption">
      <h3>Home Works ...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide" class="w-100">
    <div class="carousel-caption">
      <h3>No mouse events...</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="Random third slide" class="w-100">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random fourth slide" class="w-100">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
<hr>

<div class="container m-t-md">
    <!-- First row -->
    <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-3">
            <!-- Card -->
            <article class="animated fadeInLeft">
                <img class="card-img-top img-responsive" src="../../../assets/images/engagements/e4.png" alt="Deer in nature" />
            </article><!-- .end Card -->
          </div>

          <div class="col-xs-3 col-md-3 col-lg-3">
        <!-- Card -->
        <article class="animated fadeInLeft">
            <img class="card-img-top img-responsive" src="../../../assets/images/engagements/e3.png" alt="Deer in nature" />
        </article><!-- .end Card -->
      </div>

      <div class="col-xs-3 col-md-3 col-lg-3">
        <!-- Card -->
        <article class="animated fadeInLeft">
            <img class="card-img-top img-responsive" src="../../../assets/images/engagements/e2.jpg" alt="Deer in nature" />
        </article><!-- .end Card -->
      </div>

      <div class="col-xs-3 col-md-3 col-lg-3">
        <!-- Card -->
        <article class="animated fadeInLeft">
          <img class="card-img-top img-responsive" src="../../../assets/images/engagements/e1.jpg" alt="Deer in nature" />
        </article><!-- .end Card -->
      </div>
    </div><!-- .end First row -->
  </div>
  <hr>


<div class="container m-t-md">
  <!-- First row -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div class="card-body small">
          <h4 class="card-title">Animal Farm</h4>

          <h6 class="text-muted">George Orwell</h6>

          <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInLeft">

        <div class="card-body small">
          <h4 class="card-title">Animal Farm</h4>

          <h6 class="text-muted">George Orwell</h6>

          <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div class="card-body small">
          <h4 class="card-title">Animal Farm</h4>

          <h6 class="text-muted">George Orwell</h6>

          <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </article><!-- .end Card -->
    </div>
  </div><!-- .end First row -->
</div>




<hr>

<div class="container m-t-md">
    <!-- First row -->
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <!-- Card -->
        <article class="card animated fadeInLeft">
          <div class="card-body small">
            <h4 class="card-title">Animal Farm</h4>

            <h6 class="text-muted">George Orwell</h6>

            <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </article><!-- .end Card -->
      </div>

      <div class="col-xs-12 col-md-4">
        <!-- Card -->
        <article class="card animated fadeInLeft">
          <div class="card-body small">
            <h4 class="card-title">Animal Farm</h4>

            <h6 class="text-muted">George Orwell</h6>

            <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </article><!-- .end Card -->
      </div>

      <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card animated fadeInLeft">
            <div class="card-body small">
              <h4 class="card-title">Animal Farm</h4>

              <h6 class="text-muted">George Orwell</h6>

              <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>

              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </article><!-- .end Card -->
        </div>
    </div><!-- .end First row -->
  </div>

<hr>

