<div style="background:transparent !important" class="jumbotron">
<h1 class="display-4">Product Details </h1>
<div class="row">
    <div class="col-xl-10 col-md-9 col-sm-12">

    <div class="card">
      <div class="row no-gutters">
        <aside class="col-sm-5 border-right">
    <article class="gallery-wrap">
    <div class="img-big-wrap">
      <div> <a href="../assets/images/thumb3.gif" data-fancybox=""><img src="../assets/images/thumb3.gif"></a></div>


    </div> <!-- slider-product.// -->
    <div class="img-small-wrap">
      <div class="item-gallery"> <img src="../assets/images/items/1.jpg"></div>
      <div class="item-gallery"> <img src="../assets/images/items/2.jpg"></div>
      <div class="item-gallery"> <img src="../assets/images/items/3.jpg"></div>
      <div class="item-gallery"> <img src="../assets/images/items/4.jpg"></div>
    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7">
    <article class="p-5">
      <h3 class="title mb-3"></h3>

    <div class="mb-3">
      <var class="price h3 text-warning">
        <span class="num">12.99</span> <span class="currency">€</span>
      </var>
      <span></span>
    </div> <!-- price-detail-wrap .// -->
    <dl>
      <dt>Les fibres 100% végétales</dt>
      <dd><p>
    Botte de fibres de coco
    Les fibres végétales, les plus anciennes utilisées car ramassées, ont longtemps été issues de plantes autochtones24.
    En Europe par exemple, les branchages de bouleau, de bruyère, de genêt dit genêt à balais, ont servi à confectionner des balais25.
    Les brosseries emploient aujourd'hui des fibres végétales commercialisées qui proviennent principalement des pays tropicaux.
    Sous leur climat à deux saisons, l'une humide, l'autre sèche, les plantes se gorgent d'eau et développent des structures de stockage importantes16. Elles donnent des fibres très solides,
    résistantes à l'usure, la chaleur, certaines à l'humidité, aux produits chimiques.

    </p></dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Model#</dt>
      <dd class="col-sm-9">12345611</dd>

      <dt class="col-sm-3">Color</dt>
      <dd class="col-sm-9">Black and white </dd>

      <dt class="col-sm-3">Delivery</dt>
      <dd class="col-sm-9">Russia, USA, and Europe </dd>
    </dl>
    <div class="rating-wrap">

      <ul class="rating-stars">
        <li style="width:80%" class="stars-active">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </li>
        <li>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </li>
      </ul>
      <div class="label-rating">132 reviews</div>
      <div class="label-rating">154 orders </div>
    </div> <!-- rating-wrap.// -->
    <hr>
      <div class="row">
        <div class="col-sm-5">
          <dl class="dlist-inline">
            <dt>Quantity :  &nbsp;&nbsp;&nbsp;</dt>
             <dd>
      <button type="button" class="btn btn-light btn-sm" (click)="fnAddNumber()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            {{ data }}
      <button type="button" class="btn btn-light btn-sm" (click)="deleteNumber()"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </dd>
          </dl>  <!-- item-property .// -->
        </div> <!-- col.// -->

      </div> <!-- row.// -->
      <hr>
      <a href="#" class="btn btn-success" [routerLink]="['/checkout']"> Buy now </a>
      <button class="btn btn-outline-success" (click)="open(content)"> <i class="fas fa-shopping-cart"></i> Add to cart </button>
    </article> <!-- card-body.// -->
        </aside> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- card.// -->




    <!-- PRODUCT DETAIL -->
    <article class="card mt-3">
      <div class="card-body">
        <h4>Details</h4>

    Botte de fibres de coco
    Les fibres végétales, les plus anciennes utilisées car ramassées, ont longtemps été issues de plantes autochtones24.
    En Europe par exemple, les branchages de bouleau, de bruyère, de genêt dit genêt à balais, ont servi à confectionner des balais25. Les brosseries emploient aujourd'hui des fibres végétales commercialisées
    qui proviennent principalement des pays tropicaux. Sous leur climat à deux saisons, l'une humide, l'autre sèche, les plantes se gorgent d'eau et développent des structures de stockage importantes16.
    Elles donnent des fibres très solides, résistantes à l'usure, la chaleur, certaines à l'humidité, aux produits chimiques.


    Racine de chiendent
    Sur leur lieu d'origine, ces plantes sont exploitées, récoltées, soigneusement préparées suivant un processus propre à chacune.
    Les fibres végétales sont tirées différentes parties des plantes : racine, écorce, tige, feuille, fruit.
    Ces fibres portent souvent le nom de leur plante pourvoyeuse. Les principales.
      </div> <!-- card-body.// -->
    </article> <!-- card.// -->

    <!-- PRODUCT DETAIL .// -->

    </div> <!-- col // -->
    <aside class="col-xl-2 col-md-3 col-sm-12">
    <div class="card">
      <div class="card-header">
          Trade Assurance
      </div>
      <div class="card-body small">
        azerty

      </div> <!-- card-body.// -->
    </div> <!-- card.// -->
    <div class="card mt-3">
      <div class="card-header">
          You may like
      </div>
      <div class="card-body row">
    <div class="col-md-12 col-sm-3">
      <figure class="item border-bottom mb-3">
          <a href="#" class="img-wrap"> <img src="../assets/images/thumb3.gif" class="img-md"></a>
          <figcaption class="info-wrap">
            <a href="#" class="title">The name of product</a>
            <div class="price-wrap mb-3">
              <span class="price-new">$280</span> <del class="price-old">$280</del>
            </div> <!-- price-wrap.// -->
          </figcaption>
      </figure> <!-- card-product // -->
    </div> <!-- col.// -->
    <div class="col-md-12 col-sm-3">
    <figure class="item border-bottom mb-3">
        <a class="img-wrap"> <img src="../assets/images/thumb1.gif" class=" img-thumbnail"></a>
        <figcaption class="info-wrap">
          <a href="#" href="#" class="title">The name of product</a>
          <div class="price-wrap mb-3">
            <span class="price-new">$280</span>
          </div> <!-- price-wrap.// -->
        </figcaption>
    </figure> <!-- card-product // -->
    </div> <!-- col.// -->
    <div class="col-md-12 col-sm-3">
    <figure class="item border-bottom mb-3">
        <a href="#" class="img-wrap"> <img src="../assets/images/thumb2.gif" class="img-md"></a>
        <figcaption class="info-wrap">
          <a href="#" class="title">The name of product</a>
          <div class="price-wrap mb-3">
            <span class="price-new">$280</span>
          </div> <!-- price-wrap.// -->
        </figcaption>
    </figure> <!-- card-product // -->
    </div> <!-- col.// -->
      </div> <!-- card-body.// -->
    </div> <!-- card.// -->
    </aside> <!-- col // -->
    </div> <!-- row.// -->
  </div>

  
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header justify-content-center bg-success text-white">
        <h4 class="modal-title" id="modal-basic-title">Confirmation d'ajout au panier</h4>
        
        
      </div>
      <div class="modal-body text-center text-secondary">
        <p>Cet article a bien été ajouté à votre panier.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" [routerLink]="['/products']" (click)="c('close click')">Continuer mes achats</button>
        <button type="button" class="btn btn-success" [routerLink]="['/cart']" (click)="c('close click')">Panier</button>
      </div>
    </ng-template>
    
    