<section class="section-subscribe bg-dark padding-y-lg">
  <div class="container">
  
  <p class="pb-2 text-center white">Inscrivez-vous à la newsletter pour rester informé des nouveautés Biotic et bénéficier des avantages.</p>
  
  <div class="row justify-content-md-center">
    <div class="col-md-8">
  <form class="row form-noborder">
      <div class="col-8">
      <input class="form-control" placeholder="Your Email" type="email">
      </div> <!-- col.// -->
      <div class="col-4">
      <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-envelope"></i> Subscribe </button>
      </div> <!-- col.// -->
  </form>
  <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
    </div> <!-- col-md-6.// -->
  </div>
    
  
  </div> <!-- container // -->
  </section>
  


<footer class="section-footer bg-dark">
    <div class="container">
      <section class="footer-top padding-top">
        <div class="row">
          <aside class="col-xs-4 col-sm-4 col-md-4 white">
            <h5 class="title">A propos de Biotic</h5>
            <ul class="list-unstyled">
              <li> <a href="#">Présentation</a></li>
              <li> <a href="#">Nos engagements</a></li>
              <li> <a href="#">Où nous trouver</a></li>
            </ul>
          </aside>
          <aside class="col-xs-4 col-sm-4  col-md-4 white">
            <h5 class="title">Aide</h5>
            <ul class="list-unstyled">
              <li> <a href="#" [routerLink]="['/contact']"> Nous contacter </a></li>
              <li> <a href="#"> Livraison </a></li>
              <li> <a href="#"> Paiement </a></li>
            </ul>
          </aside>
  
          <aside class="col-xs-4 col-sm-4">
            
            <article class="white">
              <h5 class="title">Nous suivre</h5>
  
              <div class="btn-group white">
                  <a class="btn btn-facebook" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f  fa-fw"></i></a>
                </div>
                <div class="btn-group white">
                  <a class="btn btn-instagram" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram  fa-fw"></i></a>
                </div>
                <div class="btn-group white">
                  <a class="btn btn-youtube" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube  fa-fw"></i></a>
                </div>  
                <div class="btn-group white">
                  <a class="btn btn-twitter" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter  fa-fw"></i></a>
                </div>
            </article>


          </aside>
        </div> 
        
      </section>

      <section class="footer-bottom row border-top-dark">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"><p class="text-md-center text-white-50">Copyright Biotic © 2019</p></div>
      </section> 
    </div>
  </footer>